@tailwind base;
@tailwind components;
@tailwind utilities;

/* width */
::-webkit-scrollbar {
  height: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;

}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #CFBAB2;
  border-radius: 10px;

}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #CFBAB2;
}


@layer base {
  :root {
    --radius: 0.5rem;
    --sidebar-background: 0 0% 98%;
    --sidebar-foreground: 240 5.3% 26.1%;
    --sidebar-primary: 240 5.9% 10%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 240 4.8% 95.9%;
    --sidebar-accent-foreground: 240 5.9% 10%;
    --sidebar-border: 220 13% 91%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }

  /* Prevent the entire HTML document from being scrollable */
  html,
  body {
    overflow: hidden;
    font-family: 'Montserrat', sans-serif;
  }

  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
  .dark {
    --sidebar-background: 240 5.9% 10%;
    --sidebar-foreground: 240 4.8% 95.9%;
    --sidebar-primary: 224.3 76.3% 48%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 240 3.7% 15.9%;
    --sidebar-accent-foreground: 240 4.8% 95.9%;
    --sidebar-border: 240 3.7% 15.9%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
}

:root {
  --main-color: #663e2f;
}

/* Full Calendar */
.fc .fc-toolbar {
  flex-direction: row;
  align-items: start;
  justify-content: space-between;
}

@media only screen and (max-width: 600px) {
  .fc .fc-toolbar {
    flex-direction: column;
    align-items: start;
  }
}

.fc-toolbar-title {
  color: var(--main-color);
  font-weight: 500;
}
.fc .fc-button-primary {
  background-color: var(--main-color);
  border-color: var(--main-color);
}
.fc .fc-button-primary:disabled {
  background-color: var(--main-color);
  border-color: var(--main-color);
}
